.basket-header {
  margin-bottom: 135px;
  margin-top: 33px;
  &__inner {
    padding: 0 10px;
    display: flex;
    justify-content: end;
  }
}
.basket {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 3px;
  width: 94px;
  height: 36px;
  border-radius: 18px;
  background: $red;
  border: none;
  &:not(:disabled):active {
    background-color: #333;
    border: unset;
  }
  &__count {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    padding: 6px;
  }
}

.content__items-burger {
  padding: 40px 0 56px;
  background-color: #F7F6F5;
  &__inner {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
  }
}

.burger-block {
  font-weight: 400;
  font-size: 24px;
  width: 288px;
  height: 360px;
  color: #9D9D9D;
  transition: transform .3s;
  position: relative;
  .button {
    position: absolute;
    top: 150px;
    right: 47px;
  }
  &__price {
    color: #E4002B;
  }
  &:hover {
    color: #000000;
    background-color: #FFFFFF;
    .burger-block__image {
      transform: scale(1.1);
    }
  }
}
.burger-block__inner {
  display: block;
  text-align: center;
  h4 {
    font-weight: 400;
  }
}

.burger-block__image {
  display: block;
  margin: 0 auto;
  width: 216px;
  transition: transform .3s;
  }


