.content__items-chicken{
  padding: 40px 0 448px;
  background-color: #F7F6F5;;
  &__inner {
    display: flex;
    //justify-content: space-between;
  }
}

.chicken-block {
  padding-top: 45px;
  font-weight: 400;
  font-size: 24px;
  width: 288px;
  height: 360px;
  color: #9D9D9D;
  transition: transform .3s;
  position: relative;
  .button {
    position: absolute;
    top: 150px;
    right: 47px;
  }
  &__price {
    color: #E4002B;
  }
  &:hover {
    color: #000000;
    background-color: #FFFFFF;
    .chicken-block__image {
      transform: scale(1.1);
    }
  }
}
.chicken-block__inner {
  display: block;
  text-align: center;
  h4 {
    font-weight: 400;
    margin-top: 80px;
  }
}

.chicken-block__image {
  display: block;
  margin: 0 auto;
  transition: transform .3s;
}
