.delivery__block {
  display: flex;
  justify-content: space-between;
}

.delivery__block__form-error{
  margin-top: 15px;
}

.delivery__form-title {
  font-family: 'Cabin Condensed', sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 72px;
  margin-bottom: 47px;

}

.form {
  margin-bottom: 64px;
  display: flex;

  label {
    font-size: 32px;
    line-height: 40px;
  }

  input {
    width: 210px;
    height: 42px;
    font-size: 16px;
    color: #9D9D9D;
    background: #F7F6F5;
    border-radius: 4px;
    border: none;
    margin-right: 50px;
    margin-left: 10px;
    outline: none;
    padding: 10px;
  }
}

.error-street{
  color: #FFFFFF;
  padding: 12px 20px;
  border-radius: 8px;
  background: #000000;
  margin-top: 10px;
  margin-right: 15px;
  position: relative;
  &::after {
    content: url('../top.svg');
    top: -34px;
    left: 140px;
    position: absolute;
    z-index: -1;
  }
}
.error-house{
  color: #FFFFFF;
  padding: 12px 20px;
  margin-top: 10px;
  background: #000000;
  border-radius: 8px;
  position: relative;
  &::after {
    content: url('../top.svg');
    top: -34px;
    left: 118px;
    position: absolute;
    z-index: -1;
  }
}

.btn {
  font-family: 'Abel', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 12px 17px;
  border: none;
  background: #F7F6F5;
  color: #9D9D9D;
  border-radius: 4px;
}

.active {
  background: #E4002B;
  color: #FFFFFF;
}

//.delivery__btn {
//  dis
//}
