@import 'fonts';
@import 'vars';
//@import "normalize";
@import "global";
@import "components/all";

body {
  font-family: 'Barlow Condensed', sans-serif;
  background-color: #FFFFFF;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  display: flex;
  justify-content: center;
}
